body {
    background-color: lightgray;
    height: var(--doc-height);
    width: var(--doc-width);
    margin: 0;
    background-repeat: no-repeat;
    background-position: fill;
}

.leaf {
    height: 2rem;
    object-fit: contain;
    position: fixed;
    perspective-origin: top;
    animation: rotation 5s infinite linear;
    transition: top .2s ease-in 0s, left .2s ease-in 0s;
}

.redSquare:hover {
    background-color: green;
}

@keyframes rotation {
    from {
        transform: translate(-50%, -50%) perspective(20rem) rotateX(0deg) rotateZ(0deg);
    }
    to {
        transform: translate(-50%, -50%) perspective(20rem) rotateX(359deg) rotateZ(359deg);
    }
}

